# Node
node_modules/
.env

# Logs
*.log
npm-debug.log*

# Docker
**/Dockerfile
**/docker-compose.override.yml


# Next.js
frontend/.next/
frontend/out/

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/

./uploads
api.rest